{% set authorF = data.authorFilters %}

<!-- Inside a form -->
<h2 class="text-center authors">Author</h2>
<div class="border bg-light p-2">
    <!-- Filters -->
    <div class="author-filter">
        <div class="author-message-error text-danger" style="display: none"></div>
        <div class="d-sm-flex">
            <label class="me-2">Limit</label>
            <div class="me-2">
                <select class="form-select form-select-sm author-select-limit" data-name="{{ authorF.getLimitFiled() }}">
                    {% for limit in authorF.getLimits() %}
                        {% if limit == authorF.getDefaultLimit() %}
                            <option value="{{ limit }}" selected>{{ limit }}</option>
                        {% else %}
                            <option value="{{ limit }}">{{ limit }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <label class="me-2">Order By</label>
            <div class="me-2">
                <select class="form-select form-select-sm author-select-orderby" data-name="{{ authorF.getOrderByFiled() }}">
                    {% for orderBy in authorF.getOrderBys() %}
                        {% if orderBy == authorF.getDefaultOrderBy() %}
                            <option value="{{ orderBy }}" selected>{{ orderBy }}</option>
                        {% else %}
                            <option value="{{ orderBy }}">{{ orderBy }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <label class="me-2">Order By Direction</label>
            <div class="me-2">
                <select class="form-select form-select-sm author-select-orderbydirection" data-name="{{ authorF.getOrderByDirectionFiled() }}">
                    {% for orderByDirection in authorF.getOrderByDirections() %}
                        {% if orderByDirection == authorF.getDefaultOrderByDirection() %}
                            <option value="{{ orderByDirection }}" selected>{{ orderByDirection }}</option>
                        {% else %}
                            <option value="{{ orderByDirection }}">{{ orderByDirection }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <label class="me-2">Page</label>
            <div class="me-2">
                <input type="number" class="form-control p-1 author-page" value="{{ authorF.getDefaultPage() }}" min="1" max="255" size="3" data-name="{{ authorF.getPageField() }}">
            </div>    
            <div class="ms-2">
                <button type="button" class="btn btn-secondary btn-sm py-2 author-button-filter">Filter</button>
            </div>
        </div>
        <div class="author-container my-2"></div>
    </div>
</div>    
<script type="module" src="/media/js/admin/article_new/author.js"></script>