<div class="d-none api-continue-reading-data"
    data-idfield="{{ data.continueReadingIdField }}"
    data-id="{{ data.article.articleId }}"
    data-tokenfield="{{ data.csrfTokenField }}"
    data-token="{{ data.csrfToken }}"
></div>
<div class="row my-3 api-continue-reading-article" style="display:none" data-url="{{ articleUrl }}" data-read="{{ translate.t('article.read') }}">
    <div class="col">
        <h2 class="text-center mb-3 background-line">{{ translate.t('article.view.continue.reading') }}</h2>
    </div>
</div>
<script type="module" src="/media/js/frontend/continue_reading/index.js"></script>
