{# string           articleUrl          like /en/article #}

{% set similarArticles = data.similarArticles %}
{% if similarArticles|length > 0 %}
    <div class="row my-3">
        <div>
            <h2 class="text-center mb-3 background-line">{{ translate.t('article.view.similar') }}</h2>
            <div class="row">
            {% for article in similarArticles %}
                {% set articleSimilarUrl = articleUrl ~ '/' ~ article.getId() %}
                        <div class="col-md-6 mb-3 mb-lg-0 col-lg-4">
                            <div>
                            <a class="link-none" href="{{ articleSimilarUrl }}">
                                <img class="img-fluid"
                                    src="/img.php?id={{ article.image.getId() }}&type=webp&width=576&height=384" 
                                    alt="{{ article.image.getDescription() }}" 
                                    fetchpriority="low"
                                >
                            </a>
                            </div>
                            <h5><a class="link-none" href="{{ articleSimilarUrl }}">{{ article.getName() }}</a></h5>
                            <p class="h6"><a class="link-none" href="{{ articleSimilarUrl }}">{{ article.getShortDescription() }}</a></p>
                            <footer class="row text-secondary">
                                <div class="col-12 font-monospace comments">{{ translate.t('comments') }}({{ random(5) }})</div>
                                <div class="col-12 font-monospace comments">{{ data.formatArticleDate(article.createdAt) }}</div>
                            </footer>
                        </div>
            {% endfor %}            
            </div>
        </div>
    </div>
{% endif %}