<!-- Urls -->
{% set linkUrl = u.fromArray(['root']) ~ '/' %}

<!-- Accept Terms -->
<div class="cookie-banner api-userinfo-accept-terms m-0" style="display:none">
	<div class="container-fluid p-0">
		<div class="row align-items-center m-0">
			<div class="col p-0">
				<h5 class="mb-1 p-1 text-center text-white background-primary">{{ t.t('modal.accept-terms.title') }}</h5>
				<div class="mb-0 px-1">{{ t.t('modal.accept-terms.body') }}</div>
			</div>
			<div class="d-flex justify-content-center">
        		<button type="button" class="btn btn-white api-userinfo-decline-btn">{{ t.t('modal.accept-terms.decline') }}</button>
        		<button type="button" class="btn btn-secondary api-userinfo-accept-btn">{{ t.t('modal.accept-terms.accept') }}</button>
			</div>
		</div>
	</div>
</div>

<!-- Mobile Bottom menu -->
<div class="d-md-none mobile-bottom-menu background-line">
	<span class="mobile-bottom-menu-service">Послуги</span>
	<span class="mobile-bottom-menu-contacts"><a class="link-none" href="{{ linkUrl ~ 'contacts' }}">{{ translate.t('footer.links.contacts') }}</a></span>
	<span class="mobile-bottom-menu-call pe-2"><a class="link-none" href="tel: +0(00) 00 000">+0(00)00000</a></span>
</div>

<!-- Visitor -->
<div class="d-none visitor-data"
    data-username="{{ visitor.getUsername() }}"
    data-csrftoken="{{ visitor.getCsrfToken() }}"
    data-csrftokenfield="{{ visitor.getCsrfTokenField() }}"
    data-isacceptedterm="{{ visitor.getIsAcceptedTerms }}"
></div>