<!-- Model Accept Terms -->
<div class="modal" tabindex="-1" id="accept-terms-modal">
  <div class="modal-dialog">
    <div class="modal-content">
        <!-- background-secondary -->
      <div class="modal-header bg-white">
        <h5 class="modal-title">{{ t.t('modal.accept-terms.title') }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ t.t('modal.accept-terms.body') }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">{{ t.t('modal.accept-terms.decline') }}</button>
        <button type="button" class="btn btn-secondary api-userinfo-accept-btn">{{ t.t('modal.accept-terms.accept') }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Visitor -->
<div class="d-none visitor-data"
    data-username="{{ visitor.getUsername() }}"
    data-csrftoken="{{ visitor.getCsrfToken() }}"
    data-csrftokenfield="{{ visitor.getCsrfTokenField() }}"
    data-isacceptedterm="{{ visitor.getIsAcceptedTerms }}"
></div>