{# 
    Object          data                        Romchik38\Site2\Infrastructure\Http\Actions\GET\Admin\Author\DynamicAction\ViewDto
    LanguageDto[]   availableLanguages          Romchik38\Site2\Application\Language\List\View\LanguageDto
#}

{% set availableLanguages = data.languages %}
<!-- Inside a form -->
<h2 class="text-center">Translates</h2>
{% for availableLanguage in availableLanguages  %}
    {% set availableLanguageId = availableLanguage.getId() %}
    {% set description = '' %}
    {% for translate in translates %}
        {% if availableLanguageId == translate.getLanguage() %}
            {% set description = translate.getDescription() %}
        {% endif %}
    {% endfor %}

    <div class="form-group p-2 my-2">
        <div class="mb-1">
            <label class="form-label" for="{{ data.translateField }}[{{ loop.index0 }}][{{ data.languageField }}]">Language: {{ availableLanguageId }}</label>
            <input type="text" class="form-control" name="{{ data.translateField }}[{{ loop.index0 }}][{{ data.languageField }}]" 
                value="{{ availableLanguageId }}" 
                hidden
            >
        </div>

        <div class="mb-1">
            <label class="form-label" for="{{ data.translateField }}[{{ loop.index0 }}][{{ data.descriptionField }}]">Description</label>
            <input type="text" class="form-control" name="{{ data.translateField }}[{{ loop.index0 }}][{{ data.descriptionField }}]" required 
                value="{{ description }}"
            >
        </div>
    </div>
{% endfor %}