{#
    string              paginationHtml              html to display
    PageDto[]           pageList                    Romchik38\Site2\Application\Page\AdminList\View\PageDto
    object              paginationForm              Romchik38\Site2\Infrastructure\Http\Actions\GET\Admin\Translate\DefaultAction\PaginationForm
    string              urlNew                      url to create new page
    object              u                           urlbuilder
    object              t                           translate service
#}

{% set paginationForm = data.paginationForm %}
{% set paginationHtml = data.paginationHtml %}
{% set pageList = data.pageList %}
<div class="col-12 text-end mb-2">
      <a class="btn btn-primary" href="{{ urlNew }}" role="button">New</a>
</div>
<div class="col-12 mb-2">
    <form class="d-sm-flex" action="" method="get">

        <!-- Limits -->
        <label class="me-2" for="limit">Limit</label>
        <div class="me-2">
            <select class="form-select form-select-sm" name="limit" aria-label="select limit">
                <option value="{{ paginationForm.currentLimit() }}" selected>{{ paginationForm.currentLimit() }}</option>
                {% for limit in paginationForm.limits() %}
                    <option value="{{ limit }}">{{ limit }}</option>
                {% endfor %}
            </select>
        </div>
        
        <!-- OrderBy -->
        <label class="me-2" for="order_by">Order By</label>
        <div class="me-2">
            <select class="form-select form-select-sm" name="order_by" aria-label="select order_by">
                <option value="{{ paginationForm.currentOrderBy() }}" selected>{{ paginationForm.currentOrderBy() }}</option>
                {% for orderBy in paginationForm.orderBys() %}
                    <option value="{{ orderBy }}">{{ orderBy }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Order By Direction -->
        <label class="me-2" for="orderorder_direction_by">Direction</label>
        <div class="me-2">
            <select class="form-select form-select-sm" name="order_direction" aria-label="select order_direction">
                <option value="{{ paginationForm.currentOrderByDirection() }}" selected>{{ paginationForm.currentOrderByDirection() }}</option>
                {% for direction in paginationForm.orderByDirections() %}
                    <option value="{{ direction }}">{{ direction }}</option>
                {% endfor %}
            </select>
        </div>


        <button type="submit" class="btn btn-secondary btn-sm py-0">filter</button>
    </form>
</div>
<!-- Pagination -->
<div class="col-12 mb-2">
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm justify-content-center">
            {{ paginationHtml|raw }}
        </ul>
    </nav>
</div>

<!-- List -->
<table class="table table-bordered">
    <thead class="table-secondary">
          <tr>
                <th scope="col">Identifier</th>
                <th scope="col">Active</th>
                <th scope="col">Url</th>
                <th scope="col">Name</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
          </tr>
    </thead>
    <tbody>
        {% for page in pageList %}
            {% set activeColor = '' %}
            {% if page.active == false %}
                {% set activeColor = 'text-warning bg-secondary' %}
                {% set active = 'not active' %}
            {% elseif page.active == true %}
                {% set activeColor = 'text-success' %}
                {% set active = 'active' %}
            {% endif %}
            <tr>
                {% set pageId = page.getId() %}
                <!-- 1. Id -->
                <th scope="row">{{ pageId }}</th>
                {% set pageUrl = u.fromArray(['root', 'admin', 'page', pageId]) %}
                <td class="{{ activeColor }}">{{ active }}</td>
                <th scope="row">{{ page.getUrl() }}</th>
                {% if page.getName() is null %}
                    <td class="text-warning bg-secondary">no translate</td>
                {% else %}
                    <td>{{ page.getName() }}</td>
                {% endif %}
                <td><a href="{{ pageUrl }}">edit</a></td>
                <td>
                    <form action="{{ u.fromArray(['root', 'admin', 'page', 'delete']) }}" method="post">
                        <input type="text" class="form-control" name="{{ data.idFiled }}" value="{{ pageId }}" hidden>
                        <input type="hidden" name="{{ data.csrfTokenField }}" value="{{ data.csrfToken }}" />
                        <button type="submit" class="btn btn-secondary my-2 btn-sm py-0">delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-end">
      <a class="btn btn-primary" href="{{ urlNew }}" role="button">New</a>
</div>

<!-- Pagination -->
<div class="col-12">
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm justify-content-center">
            {{ paginationHtml|raw }}
        </ul>
    </nav>
</div>