{#
    Object      u                           urlbuilder              {{ u.fromArray(['root', 'product']) }}
    string      controller_template_dir     path to this folder
    Object      data                        Romchik38\Site2\Infrastructure\Http\Actions\GET\Admin\Article\New\DefaultAction\ViewDto
#}

{% set articleListUrl = u.fromArray(['root', 'admin', 'article']) %}
{% set createUrl = u.fromArray(['root', 'admin', 'article', 'new']) %}

<div class="container-md my-3">
    <div class="row">
        <h1 class="text-center articles">{{ data.name }}</h1>
        <p>{{ data.description }}</p>
        <!-- Form -->
        <form action="{{ createUrl }}" method="post" id="article-update-form">
            <div class="form-group mb-2 p-2">
                <div class="mb">
                    <label class="form-label" for="{{ data.idField }}">Id: {{ articleId }}</label>
                    <input type="text" class="form-control" name="{{ data.idField }}" value="" required>
                </div>
            </div>
            <input type="hidden" name="{{ data.csrfTokenField }}" value="{{ data.csrfToken }}" />

            <!-- Author -->
            <div class="mb-5">
                {% include controller_template_dir ~ '/blocks/author.twig' with {'t': t, 'u': u, 'data': data } only %}
            </div>            

            <div class="d-flex">
                <div class="me-auto">
                    <button type="submit" class="btn btn-primary my-2 index-button-create" style="display:none;">Create</button>
                </div>
            </div>
        </form>
        <!-- Back link -->
        <div class="my-3">⬅️ Back to <a href="{{ articleListUrl }}">Article list</a> page</div>
    </div>
</div>
<script type="module" src="/media/js/admin/article_new/index.js"></script>

