{#
    Object      u                           urlbuilder              {{ u.fromArray(['root', 'product']) }}
    string      template_full_prefix        path to this folder
    Object      data                        Romchik38\Site2\Infrastructure\Http\Actions\GET\Admin\Translate\DynamicAction\ViewDto
    Object      translate                   Romchik38\Site2\Application\Translate\View\View\TranslateDto
#}

{% extends "base_admin_layouts.twig" %}

{% block content %}
{% set translate = data.translateDto %}
{% set listUrl = u.fromArray(['root', 'admin', 'translate']) %}
{% set newUrl = u.fromArray(['root', 'admin', 'translate', 'new']) %}
{% set updateUrl = u.fromArray(['root', 'admin', 'translate', 'update']) %}
{% set phrases = translate.phrases %}

<div class="container-md my-3">
    <div class="row">
        <h1 class="text-center">Translate view page</h1>
        <p>On this page you can view and edit translates.</p>
        <!-- Form -->
        <form action="{{ updateUrl }}" method="post">
            <div class="form-group mb-2 p-2">
                <div class="mb">
                    <label class="form-label" for="{{ data.idFiled }}">Id: {{ translate.identifier }}</label>
                    <input type="text" class="form-control" name="{{ data.idFiled }}" value="{{ translate.identifier }}" hidden>
                </div>
            </div>
            <input type="hidden" name="{{ data.csrfTokenField }}" value="{{ data.csrfToken }}" />
            <!-- Translates -->
            {% include template_full_prefix ~ '/blocks/phrases.twig' with {'t': t, 'u': u, 'data': data } only %}
            <div class="d-flex ">
                <div class="me-auto">
                    <button type="submit" class="btn btn-primary my-2">Update</button>
                </div>
                <div>
                    <button type="button" class="btn btn-danger my-2" id="delete-button">Delete</button>
                </div>
            </div>
        </form>
        <form action="{{ u.fromArray(['root', 'admin', 'translate', 'delete']) }}" method="post" id="delete-form">
            <input type="text" class="form-control" name="{{ data.idFiled }}" value="{{ translate.identifier }}" hidden>
            <input type="hidden" name="{{ data.csrfTokenField }}" value="{{ data.csrfToken }}" />
        </form>
        <script>
            deleteButton = document.getElementById('delete-button');
            deleteForm = document.getElementById('delete-form');
            if(deleteButton !== null && deleteForm !== null) {
                deleteButton.addEventListener("click", function (e) {
                    deleteForm.submit();
                });
            } else {
                console.error('Delete button or form not found'); 
            }
        </script>
        <!-- Back link -->
        <div class="my-3">⬅️ Back to <a href="{{ listUrl }}">Translate list</a> page or <a href="{{ newUrl }}">create new</a>.</div>
    </div>
</div>
{% endblock %}
