{% set r = data.audioRequirements %}

<!-- Inside a form -->
<div class="col-md-6 m-auto">
    <h2 class="text-center">Audio</h2>

    <table class="table">
       <thead>
            <tr>
                <th scope="col">Types</th>
                <th scope="col">Max size</th>
            </tr>
       </thead>
       <tbody>
           <tr>
               <td>
                {% for type in r.types %}
                    <span class="me-1">{{ type }}</span>
                {% endfor %}
               </td>
               <td>{{ r.prettySize() }}</td>
           </tr>
       </tbody>
    </table>


    <div class="form-group mb-2 p-2">
        <div class="mb-3">
            <label class="form-label" for="{{ data.fileField }}">Audio</label>
            <input type="file" class="form-control" name="{{ data.fileField }}" required>
        </div>

    </div>
        <div class="form-group mb-2 p-2">
        <div class="mb-3">
            <label class="form-label" for="{{ data.folderField }}">Folder</label>
            <select class="form-select form-select-sm" name="{{ data.folderField }}" aria-label="select {{ data.folderField }}" required>
                <option value="">{{ translate.t('global.please-select') }}</option>
                {% for folder in data.folders %}
                    <option value="{{ folder }}">{{ folder }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>