{#    null|Object             translate                   Translate service #}
{#    ArticleDTO[]            articles                    A list of article DOTs #}

{% set firstArticle = articles|first %}
<!-- Primary publication start -->
<div class="col">
    <div class="row">
        <div class="col-md-8">
            <picture>
                <source media="(max-width: 636px)"
                    srcset="/media/img/articles/dokazi-po-spravi/1-5/dokazi-po-spravi-576.webp">
                <source media="(max-width: 992px)"
                    srcset="/media/img/articles/dokazi-po-spravi/1-5/dokazi-po-spravi-720.webp">
                <source media="(min-width: 992px)"
                    srcset="/media/img/articles/dokazi-po-spravi/1-5/dokazi-po-spravi-1080.webp">
                <img class="img-fluid"
                    src="/media/img/articles/dokazi-po-spravi/1-5/dokazi-po-spravi-1080.webp"
                    alt="">
            </picture>
        </div>
        <div class="col-md-4">
            <h2>{{ firstArticle.name }}</h2>
            <p>{{ firstArticle.shortDescription }}</p>
            <footer class="row text-secondary">
                <div class="col-6 font-monospace comments">{{ firstArticle.readLength }} {{ translate.t('article.read') }}</div>
                <div class="col-6 font-monospace comments">{{ firstArticle.formattedCreatedAt }}</div>
            </footer>
        </div>
    </div>
</div>
<!-- Primary publication end -->

<div class="col mt-3">
    {% set articleLength = articles|length %}
    {% for article in articles|slice(1,articleLength) %}
    
    <!-- publication start -->     
    <div class="row my-4">
        <div class="col-sm-3">
            <picture>
                <source media="(max-width: 636px)"
                    srcset="/media/img/articles/dokazi-po-spravi/1-5/dokazi-po-spravi-576.webp">
                <source media="(max-width: 992px)"
                    srcset="/media/img/articles/dokazi-po-spravi/1-5/dokazi-po-spravi-720.webp">
                <source media="(min-width: 992px)"
                    srcset="/media/img/articles/dokazi-po-spravi/1-5/dokazi-po-spravi-1080.webp">
                <img class="img-fluid"
                    src="/media/img/articles/dokazi-po-spravi/1-5/dokazi-po-spravi-1080.webp"
                    alt="">
            </picture>
        </div>
        <div class="col-sm-9">
            <h3>{{ article.name }}</h3>
            <p>{{ article.shortDescription }}</p>
            <footer class="row text-secondary">
                <div class="col-6 font-monospace comments">{{ article.readLength }} {{ translate.t('article.read') }}</div>
                <div class="col-6 font-monospace comments">{{ article.formattedCreatedAt }}</div>
            </footer>
        </div>
    </div>
    <!-- publication end -->

    {% endfor %}
</div>