{% set categories = data.article.categories %}
{% set allCategories = data.categories %}
{% set categoryNewUrl = u.fromArray(['root', 'admin', 'category', 'new']) %}

<!-- Inside a form -->
<h2 class="text-center categories">Categories</h2>
{% if categories|length == 0 %}
    <p>Article does not included in any category.</p>
{% else %}
    <p>The article is in the following categories:</p>
    <table class="table">
        <thead class="table-secondary">
          <tr>
            <th>Id</th>
            <th>Activity</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
        {% for c in categories %}
            <!-- category.getId()|url_encode -->
            {% set categoryId = c.getId() %} 
            {% set categoryUrl = u.fromArray(['root', 'admin', 'category', categoryId|url_encode ]) %}
            <tr>
                <td>{{ categoryId }}</td>
                {% if c.active == true %}
                    <td class="text-success">Active</td>
                {% else %}
                    <td class="text-danger">Not active</td>
                {% endif %}
                <td>
                    <a href="{{ categoryUrl }}" target="_self">Edit</audio>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<div class="border bg-light p-2">
    <div>Сhange existing categories by clicking the button below or <a href="{{ categoryNewUrl }}" target="_self">сreate new</a>.</div>
    <div>
        <button class="btn btn-secondary my-2 category-button-change" type="button">Change</button>
    </div>
    <p class="category-hint" style="display: none;">Use <strong>Ctrl</strong> key to set/unset value. You can select multiple values. Refresh the page without push update button to cancel select on change.</p>
    <!-- Select -->
    <select class="form-select category-select" name="{{ data.categoriesField }}[]" style="display:none;" multiple>
        {% for cat in allCategories %}
            {% set found = false %}
            {% for existinCat in categories %}
                {% if cat.getId() == existinCat.getId() %}
                    {% set found = true %}
                {% endif %}
            {% endfor %}
            {% if found == true %}
                <option value="{{ cat.getId() }}" selected>{{ cat.getId() }}</option>
            {% else %}
                <option value="{{ cat.getId() }}">{{ cat.getId() }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<script type="module" src="/media/js/admin/article/category.js"></script>