{# 
    Object          data                        Romchik38\Site2\Infrastructure\Http\Actions\GET\Admin\Category\DynamicAction\ViewDto
    LanguageDto[]   availableLanguages          Romchik38\Site2\Application\Language\List\View\LanguageDto
#}

{% set availableLanguages = data.languages %}
{% set translates = data.article.translates %}
<!-- Inside a form -->
<h2 class="text-center translates">Translates</h2>
{% for availableLanguageVo in availableLanguages  %}
    {% set availableLanguage = availableLanguageVo.getId() %}
    {% set name = '' %}
    {% set shortDescription = '' %}
    {% set description = '' %}
    {% set updatedAt = '' %}
    {% for item in translates %}
        {% if item.getLanguage() == availableLanguage %}
            {% set name = item.getName() %}
            {% set shortDescription = item.getShortDescription() %}
            {% set description = item.getDescription() %}
            {% set updatedAt = item.getUpdatedAt() %}
        {% endif %}
    {% endfor %}

    <div class="form-group p-2 mb-5">
        <div class="mb-1">
            <label class="form-label" for="{{ data.translateField }}[{{ loop.index0 }}][{{ data.languageField }}]">Language: {{ availableLanguage }}</label>
            <input type="text" class="form-control" name="{{ data.translateField }}[{{ loop.index0 }}][{{ data.languageField }}]" 
                value="{{ availableLanguage }}" 
                hidden
            >
        </div>

        <div class="mb-1">
            <label class="form-label" for="{{ data.translateField }}[{{ loop.index0 }}][{{ data.nameField }}]">Name</label>
            <input type="text" class="form-control" name="{{ data.translateField }}[{{ loop.index0 }}][{{ data.nameField }}]" required 
                value="{{ name }}"
            >
        </div>
        <div class="mb-1">
            <label class="form-label" for="{{ data.translateField }}[{{ loop.index0 }}][{{ data.shortDescriptionField }}]">Short description</label>
            <textarea class="form-control" form="article-update-form" name="{{ data.translateField }}[{{ loop.index0 }}][{{ data.shortDescriptionField }}]" required maxlength="255" rows="4">{{ shortDescription }}</textarea>
        </div>
        <div class="mb-1">
            <label class="form-label" for="{{ data.translateField }}[{{ loop.index0 }}][{{ data.descriptionField }}]">Description</label>
            <textarea class="form-control summernote" form="article-update-form" name="{{ data.translateField }}[{{ loop.index0 }}][{{ data.descriptionField }}]" required maxlength="255" rows="15">{{ description }}</textarea>
        </div>

        <div class="mb-1">
            <p>Updated at: {{ updatedAt }}</p>
        </div>
    </div>
{% endfor %}