<h2 class="text-center banners">Banners</h2>

{% if banners|length == 0 %}
    <p>Image do not used in any Banner</p>
{% else %}
    <ul>The image is used in banners:
            <table class="table table-bordered">
                    <thead>
                          <tr>
                                <th scope="col">Identifier</th>
                                <th scope="col">Activity</th>
                                <th scope="col">Name</th>
                                <th scope="col">Edit</th>
                          </tr>
                    </thead>
                    <tbody>
                        {% for banner in banners %}  
                                {% set activeColorArticle = '' %}
                                {% if banner.active == false %}
                                    {% set activeColorArticle = 'text-warning bg-secondary' %}
                                    {% set activeArticle = 'not active' %}
                                {% elseif banner.active == true %}
                                    {% set activeColorArticle = 'text-success' %}
                                    {% set activeArticle = 'active' %}
                                {% endif %}           
                                <tr>
                                    {% set bannerId = banner.getId() %}
                                    <th>{{ bannerId }}</th>
                                    <td class="{{ activeColorArticle }}">{{ activeArticle }}</td>
                                    <th>{{ banner.getName() }}</th>
                                    {% set bannerEditUrl = u.fromArray(['root', 'admin', 'banner', bannerId ]) %}
                                    <td><a href="{{ bannerEditUrl }}">Edit</a></td>
                                </tr>
                        {% endfor %}
                    <tbody>
            </table>
    </ul>
{%  endif %}