{% set urlLogout = urlbuilder.fromArray(['root', 'logout']) %}
{% set urlLogin = urlbuilder.fromArray(['root', 'login']) %}
{% set urlSubscribe = urlbuilder.fromArray(['root', 'why-subscribe']) %}

<div class="row background-line pt-3">
    <div class="col-sm">
        <div class="container">
            <div class="row text-center text-sm-start">
                <p class="h1 m-0">{{translate.t('header.logo')}}</p>
                <p>Aut omnia, aut nihil</p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="d-flex justify-content-md-end justify-content-center">
            <label for="footer-language" class="p-2">{{ t.t('Language') }}:</label>
            <select id="footer-language" class="form-select language background-line">
                {% for l in languages %}
                    {% set selected = '' %}
                    {% set disabled = '' %}
                    {% set value = '' %}
                    {% if l == language %}
                        {% set selected = 'selected="true"' %}
                        {% set disabled = 'disabled' %}
                    {% else %}
                        {% set value = su.withRoot(l) %}
                    {% endif %}
                    <option value="{{ value }}" {{disabled}} {{selected}}>{{translate.translate('global.language', l)}}</option>
                {% endfor %}

            </select>
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="row text-center header-user-notloggedin">
            <div class="col-6 col-sm-12 col-md-6 px-0 text-md-end">
                    <a class="btn" href="{{ urlSubscribe }}"><span class="fw-bold">{{translate.t('header.subscribe')}}</span></a>
            </div>
            <div class="col-6 col-sm-12 col-md-6 px-0 text-md-start">
                    <a class="btn" href="{{ urlLogin }}">{{translate.t('header.sing_in')}}</a>  
            </div>
        </div>
    </div>
</div>