{% set linkUrl = u.fromArray(['root']) ~ '/' %}
<div class="row mx-5 my-4">
    <div class="col-sm-6 col-md-3">
        <div class="container border-start">
            <h5 class="fw-bold">{{ t.t('footer.links.law-career') }}</h5>
            <ul class="list-unstyled">
                <li><a class="link-none" href="#">Education</a></li>
                <li><a class="link-none" href="#">Exams</a></li>
                <li><a class="link-none" href="#">Attorney's license</a></li>
                <li><a class="link-none" href="#">Our partners</a></li>
                <li><a class="link-none" href="#">Work in Lawshield</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="container border-start">
            <h5 class="fw-bold pt-3 pt-sm-0">{{ t.t('footer.links.authors') }}</h5>
            <ul class="list-unstyled">
                <li><a class="link-none" href="#">Conditions of publication</a></li>
                <li><a class="link-none" href="#">Benefits</a></li>
                <li><a class="link-none" href="#">Contacts</a></li>
                <li><a class="link-none" href="#">Special offers</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="container border-start">
            <h5 class="fw-bold pt-3 pt-sm-0">{{ t.t('footer.links.customers') }}</h5>
            <ul class="list-unstyled">
                <li><a class="link-none" href="#">Account</a></li>
                <li><a class="link-none" href="#">Recovery</a></li>
                <li><a class="link-none" href="#">Feedback</a></li>
                <li><a class="link-none" href="#">Contacts</a></li>
                <li><a class="link-none" href="#">Special offers</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="container border-start">
            <h5 class="fw-bold pt-3 pt-sm-0">{{t.t('header.logo')}}</h5>
            <ul class="list-unstyled">
                <li><a class="link-none" href="{{ linkUrl ~ 'about' }}">{{ t.t('footer.links.about') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'why-subscribe' }}">{{ t.t('footer.links.why-subscribe') }}?</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'authors' }}">{{ t.t('footer.links.authors') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'training' }}">{{ t.t('footer.links.training') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'commercial-offer' }}">{{ t.t('footer.links.commercial-offer') }}</a></li>
            </ul>
        </div>
    </div>
</div>