{% set linkUrl = u.fromArray(['root']) ~ '/' %}
<div class="row mx-5 my-4">
    <div class="col-sm-6 col-md-3">
        <div class="container border-start">
            <h5 class="fw-bold">{{ t.t('footer.links.law-career') }}</h5>
            <ul class="list-unstyled">
                <li><a class="link-none" href="{{ linkUrl ~ 'training' }}">{{ t.t('footer.links.training') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'exams' }}">{{ t.t('footer.links.exams') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'attorney-license' }}">{{ t.t('footer.links.attorney-license') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'our-partners' }}">{{ t.t('footer.links.our-partners') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'work-at-lawshield' }}">{{ t.t('footer.links.work-at-lawshield') }}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="container border-start">
            <h5 class="fw-bold pt-3 pt-sm-0">{{ t.t('footer.links.authors') }}</h5>
            <ul class="list-unstyled">
                <li><a class="link-none" href="{{ linkUrl ~ 'conditions-of-publication' }}">{{ t.t('footer.links.conditions-of-publication') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'benefits' }}">{{ t.t('footer.links.benefits') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'ownership-of-materials' }}">{{ t.t('footer.links.ownership-of-materials') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'author-personal-page' }}">{{ t.t('footer.links.author-personal-page') }}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="container border-start">
            <h5 class="fw-bold pt-3 pt-sm-0">{{ t.t('footer.links.customers') }}</h5>
            <ul class="list-unstyled">
                <li><a class="link-none" href="{{ linkUrl ~ 'account' }}">{{ t.t('footer.links.account') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'recovery' }}">{{ t.t('footer.links.recovery') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'feedback' }}">{{ t.t('footer.links.feedback') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'contacts' }}">{{ t.t('footer.links.contacts') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'commercial-offer' }}">{{ t.t('footer.links.special.offers') }}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="container border-start">
            <h5 class="fw-bold pt-3 pt-sm-0">{{t.t('header.logo')}}</h5>
            <ul class="list-unstyled">
                <li><a class="link-none" href="{{ linkUrl ~ 'about' }}">{{ t.t('footer.links.about') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'why-subscribe' }}">{{ t.t('footer.links.why-subscribe') }}?</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'authors' }}">{{ t.t('footer.links.authors') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'training' }}">{{ t.t('footer.links.training') }}</a></li>
                <li><a class="link-none" href="{{ linkUrl ~ 'commercial-offer' }}">{{ t.t('footer.links.commercial-offer') }}</a></li>
            </ul>
        </div>
    </div>
</div>