{% set linkUrl = u.fromArray(['root']) ~ '/' %}
<div class="row background-line">
    <div class="container">
        <div class="row my-2">
            <div class="mx-auto ms-3 ms-sm-0 d-flex flex-column flex-sm-row justify-content-center">
                <div><a class="btn" href="{{ linkUrl ~ 'policy-cookie' }}">{{ t.t('footer.policy.policy-cookie') }}</a></div>
                <div><a class="btn" href="{{ linkUrl ~ 'policy-confidential' }}">{{ t.t('footer.policy.policy-confidential') }}</a></div>
                <div><a class="btn" href="{{ linkUrl ~ 'terms-of-use' }}">{{ t.t('footer.policy.terms-of-use') }}</a></div>
                <div><a class="btn" href="{{ linkUrl ~ '' }}">Copyright Policy</a></div>
            </div>
        </div>
    </div>
</div>