{#
    Object      u                           urlbuilder              {{ u.fromArray(['root', 'product']) }}
    string      controller_template_dir     path to this folder
    Object      data                        Romchik38\Site2\Infrastructure\Http\Actions\GET\Admin\Article\DynamicAction\ViewDto
#}

{% include controller_template_dir ~ '/wysiwyg/index.twig' %}

{% set articleListUrl = u.fromArray(['root', 'admin', 'article']) %}
{% set deleteUrl = u.fromArray(['root', 'admin', 'article', 'delete']) %}
{% set updateUrl = u.fromArray(['root', 'admin', 'article', 'update']) %}
{% set article = data.article %}
{% set articleId = article.getId() %}

<div class="container-md my-3">
    <div class="row">
        <h1 class="text-center">Article view</h1>
        <p>{{ data.description }}</p>
        <!-- Form -->
        <form action="{{ updateUrl }}" method="post" id="article-update-form">
            <div class="form-group mb-2 p-2">
                <div class="mb">
                    <label class="form-label" for="{{ data.idField }}">Id: {{ articleId }}</label>
                    <input type="text" class="form-control" name="{{ data.idField }}" value="{{ articleId }}" hidden>
                </div>
            </div>
            <input type="hidden" name="{{ data.csrfTokenField }}" value="{{ data.csrfToken }}" />

            <div class="form-group p-2">
                <div class="mb-3">                
                    <h2 class="text-center">Activity</h2>
                    {% if article.active == true %} 
                        <span class="text-success">is active</span>
                    {% else %}
                        <span class="text-danger">not active</span>
                    {% endif %}
                </div>

                <div class="mb-3 form-check">
                    <input class="form-check-input" type="checkbox" name="{{ data.changeActivityField }}" value="{{ data.noField }}" id="checkbox_active">
                    <label class="form-check-label" for="{{ data.changeActivityField }}">
                    {% if article.active == false %}
                        Activate
                    {% elseif article.active == true %}
                        Deactivate
                    {% endif %}
                    </label>
                </div>
            </div>
            <!-- Translates -->
            <div class="my-3">
                {% include controller_template_dir ~ '/blocks/translates.twig' with {'t': t, 'u': u, 'data': data } only %}
            </div>
            <!-- Image -->
            <div class="mb-3">
                {% include controller_template_dir ~ '/blocks/image.twig' with {'t': t, 'u': u, 'data': data } only %}
            </div>
            <!-- Author -->
            <div class="mb-3">
                {% include controller_template_dir ~ '/blocks/author.twig' with {'t': t, 'u': u, 'data': data } only %}
            </div>            
            <!-- Audio -->
            <div class="mb-3">
                {% include controller_template_dir ~ '/blocks/audio.twig' with {'t': t, 'u': u, 'data': data } only %}
            </div>
            <!-- Categories -->
            <div class="mb-3">
                {% include controller_template_dir ~ '/blocks/category.twig' with {'t': t, 'u': u, 'data': data } only %}
            </div>                        
            <div class="d-flex">
                <div class="me-auto">
                    <button type="submit" class="btn btn-primary my-2">Update</button>
                </div>
                <div>
                    <button type="button" class="btn btn-danger my-2" id="delete-button">Delete</button>
                </div>
            </div>
        </form>
        <form action="{{ deleteUrl }}" method="post" id="delete-form">
            <input type="text" class="form-control" name="{{ data.idField }}" value="{{ articleId }}" hidden>
            <input type="hidden" name="{{ data.csrfTokenField }}" value="{{ data.csrfToken }}" />
        </form>
        <script>
            var activeCheckbox = document.getElementById('checkbox_active');
            if(activeCheckbox !== null) {
                activeCheckbox.addEventListener("change", function (e) {
                    checked = e.target.checked;
                    if(checked === true) {
                        e.target.value = '{{ data.yesField }}';
                    } else {
                        e.target.value = '{{ data.noField }}';
                    }
                });
            } else {
                console.error('Active checkbox input field not found'); 
            }
        </script>
        <script>
            deleteButton = document.getElementById('delete-button');
            deleteForm = document.getElementById('delete-form');
            if(deleteButton !== null && deleteForm !== null) {
                deleteButton.addEventListener("click", function (e) {
                    deleteForm.submit();
                });
            } else {
                console.error('Delete button or form not found'); 
            }
        </script>
        <!-- Back link -->
        <div class="my-3">⬅️ Back to <a href="{{ articleListUrl }}">Article list</a> page</div>
    </div>
</div>

