{% set urlLogout = urlbuilder.fromArray(['root', 'logout']) %}
{% set linkUrl = urlbuilder.fromArray(['root']) ~ '/' %}
{% set accountUrl = urlbuilder.fromArray(['root', 'account']) %}

<div class="container-fluid background-secondary text-light">
    <div class="row py-1">
        <div class="col">
            <div class="ms-md-5">
                <span class="me-2"><a class="link-none-white" href="/{{meta_data.language}}/sitemap">{{ translate.t('header.link.sitemap') }}</a></span>
                <span class="me-2"><a class="link-none-white" href="{{ linkUrl ~ 'contacts' }}">{{ translate.t('footer.links.contacts') }}</a></span>
            </div>
        </div>
        <div class="col-md-2">
            <select class="language text-white background-secondary p-0" style="border: 0" disabled>

                {% for language in meta_data.languages %}
                    {% set selected = '' %}
                    {% set disabled = '' %}
                    {% set value = '' %}
                    {% if language == meta_data.language %}
                        {% set selected = 'selected="true"' %}
                        {% set disabled = 'disabled' %}
                    {% else %}
                        {% if (meta_data.breadrumb) %}
                            {% set item = meta_data.breadrumb|last %}
                            {% set arr = item.getUrl()|split('/') %}
                            {% for part in arr %}
                                {% if loop.index == 2 %}
                                    {% set value = '/' ~ language %}
                                {% elseif loop.index > 2 %}
                                    {% set value = value ~ '/' ~ part %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% set value = '/' ~ language %}
                        {% endif %}
                    {% endif %}
                    
                    <option value="{{value}}" {{disabled}} {{selected}}>{{translate.translate('global.language', language)}}</option>
                {% endfor %}

            </select>
        </div>
        <div class="col-md-2">
            <div class="row header-user-loggedin">
                <div class="col-xl-7 col-md pe-0">
                    <a class="link-none text-white" href="{{ accountUrl }}">
                        <span class="user-name-field"></span>
                    </a>
                </div>
                <div class="col-xl-5 col-md px-0">
                    <form action="{{ urlLogout }}" method="post">
                        <button class="btn align-top pt-0 text-white" type="submit"><u>{{ t.t('logout') }}</u></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>