{% set urlLogout = urlbuilder.fromArray(['root', 'logout']) %}
{% set linkUrl = urlbuilder.fromArray(['root']) ~ '/' %}
{% set accountUrl = urlbuilder.fromArray(['root', 'account']) %}

<div class="container-fluid background-secondary text-light">
    <div class="row py-1">
        <div class="col">
            <div class="ms-md-5">
                <span class="me-2"><a class="link-none-white" href="/{{meta_data.language}}/sitemap">{{ translate.t('header.link.sitemap') }}</a></span>
                <span class="me-2"><a class="link-none-white" href="{{ linkUrl ~ 'contacts' }}">{{ translate.t('footer.links.contacts') }}</a></span>
                <span class="me-2"><a class="link-none-white" href="{{ linkUrl ~ 'about-this-site' }}">{{ translate.t('header.link.dev') }}</a></span>
            </div>
        </div>
        <div class="col-md-2">
            <select class="language text-white background-secondary p-0" style="border: 0" disabled="0">
                {% for l in languages %}
                    {% set selected = '' %}
                    {% set disabled = '' %}
                    {% set value = '' %}
                    {% if l == language %}
                        {% set selected = 'selected="true"' %}
                        {% set disabled = 'disabled' %}
                    {% else %}
                        {% set value = su.withRoot(l) %}
                    {% endif %}
                    <option value="{{ value }}" {{disabled}} {{selected}}>{{translate.translate('global.language', l)}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <div class="row header-user-loggedin">
                <div class="col-xl pe-0">
                    <a class="link-none text-dark bg-white px-2 rounded" href="{{ accountUrl }}">
                        <span class="user-name-field"></span>
                    </a>
                </div>
                <div class="col-xl ">
                    <form class="header-user-form-logout" action="{{ urlLogout }}" method="post">
                         <span>{{ t.t('logout') }}</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>