{% set urlRoot = urlbuilder.fromArray(['root']) %}
{% set urlLogout = urlbuilder.fromArray(['root', 'logout']) %}
{% set urlLogin = urlbuilder.fromArray(['root', 'login']) %}
{% set urlSubscribe = urlbuilder.fromArray(['root', 'why-subscribe']) %}

<div class="container-xxl d-none d-lg-block">
    <div class="row py-2">
        <div class="col-md-3">
            <div class="d-none d-sm-block">
                <p class="h1 mt-2 text-center text-md-start">
                    <a class="link-none" href="{{ urlRoot }}" target="_self">{{translate.t('header.logo')}}</a>
                </p>
            </div>
        </div>
        <div class="col-sm text-center">
           <a href="{{ urlRoot }}" target="_self">
                <img src="/media/logo-100.png" class="img" width="100" height="100" alt="{{ translate.t('Lawshield company logo') }}" fetchpriority="high">
            </a>
        </div>
        <div class="col-md-3 mx-auto text-nowrap">
            <div class="row mt-2 header-user-notloggedin">
                <div class="col-xl-6 col-sm mb-2 mb-sm-0 mb-md-2 mb-lg-0 d-grid gap-2">
                    <a class="link-none" href="{{ urlSubscribe }}">
                        <button class="btn background-primary w-100">
                            {{translate.t('header.subscribe')}}
                        </button>
                    </a>
                </div>
                <div class="col-xl-6 col-sm d-grid gap-2">
                    <a class="link-none" href="{{ urlLogin }}">
                        <button class="btn border w-100">
                            {{translate.t('header.sing_in')}}
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>