{% set qm = meta_data.query_metadata %}
<!-- Urls -->
{% set linkUrl = u.fromArray(['root']) ~ '/' %}
{% set urlRoot = urlbuilder.fromArray(['root']) %}
{% set searchUrl = u.fromArray(['root', 'search']) %}
<!-- Blog -->
{% set latestUrl = u.fromArray(['root', 'article']) %}
{% set trafficUrl = u.fromArray(['root', 'category', 'traffic']) %}
{% set adminUrl = u.fromArray(['root', 'category', 'administrative-process']) %}
{% set militaryUrl = u.fromArray(['root', 'category', 'military-law']) %}
<nav class="navbar navbar-expand-lg navbar-light p-0">
    <div class="container-lg d-block p-0">
        <div class="d-flex d-lg-none justify-content-between p-2 background-nav-container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="link-none h1 d-lg-none" href="{{ urlRoot }}">{{translate.t('header.logo')}}</a>
        </div>
        <div class="collapse navbar-collapse bg-white p-2 justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <!-- About -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ linkUrl ~ 'about' }}">{{ translate.t('footer.links.about') }}</a>
                </li>
                <!-- Services -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ translate.t('Services') }}
                    </a>
                    <ul class="dropdown-menu background-nav-dropdown" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ linkUrl ~ 'commercial-offer' }}">{{ translate.t('Legal Support') }}</a></li>                        
                        <li><a class="dropdown-item" href="{{ linkUrl ~ 'training' }}">{{ translate.t('footer.links.training') }}</a></li>
                        <li><a class="dropdown-item" href="{{ linkUrl ~ 'exams' }}">{{ translate.t('footer.links.exams') }}</a></li>                                    
                        <li><a class="dropdown-item" href="{{ linkUrl ~ 'attorney-license' }}">{{ translate.t('footer.links.attorney-license') }}</a></li>
                        <li><a class="dropdown-item" href="{{ linkUrl ~ 'special-offers' }}">{{ translate.t('footer.links.special.offers') }}<small class="color-secondary">
                                    hot</small></a></li>                        
                    </ul>
                </li>
                <!-- Blog -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ translate.t('Blog') }}
                    </a>
                    <ul class="dropdown-menu background-nav-dropdown" aria-labelledby="navbarDropdown">

                        <!-- Latest -->
                        <li class="nav-item">
                            <a class="dropdown-item" href="{{ latestUrl }}">{{ translate.t('menu.latest') }}</a>
                        </li>

                        <!-- Administrative process -->
                       <li class="nav-item">
                            <a class="dropdown-item" href="{{ adminUrl }}">{{ translate.t('menu.administrative-process') }}</a>
                        </li>

                        <!-- Trafic -->
                       <li class="nav-item">
                            <a class="dropdown-item" href="{{ trafficUrl }}">{{ translate.t('menu.traffic') }}</a>
                        </li>

                        <!-- Military -->
                       <li class="nav-item">
                            <a class="dropdown-item" href="{{ militaryUrl }}">{{ translate.t('menu.military-law') }}</a>
                        </li>                        

                    </ul>
                </li>
               <!-- Contacts -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ linkUrl ~ 'contacts' }}">{{ translate.t('footer.links.contacts') }}</a>
                </li>
            </ul>
            <form class="api-header-search-form d-flex" method="get" action="{{ searchUrl }}">
                <input class="api-header-search-query form-control me-2" type="text" name="{{ qm.nameField }}" placeholder="{{ translate.t('Search') }}" aria-label="Search" maxlength="{{ qm.maxLength }}">
                <button class="api-header-search-btn btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <script type="module" src="/media/js/frontend/header/search/index.js"></script>
        </div>
    </div>
</nav>