{% set latestUrl = u.fromArray(['root', 'article']) %}
<!-- Traffic -->
{% set trafficUrl = u.fromArray(['root', 'category', 'traffic']) %}
{% set trafficLegislativeUrl = u.fromArray(['root', 'category', 'traffic-legislative-changes']) %}
{% set trafficConsultationUrl = u.fromArray(['root', 'category', 'traffic-consultations']) %}
{% set trafficJudicalUrl = u.fromArray(['root', 'category', 'traffic-judicial-practice']) %}
{% set trafficLegalUrl = u.fromArray(['root', 'category', 'traffic-legal-framework']) %}
{% set trafficMistakesUrl = u.fromArray(['root', 'category', 'traffic-common-mistakes']) %}
{% set trafficStopUrl = u.fromArray(['root', 'category', 'traffic-vehicle-stop']) %}
<!-- Admin proc -->
{% set adminUrl = u.fromArray(['root', 'category', 'administrative-process']) %}
{% set adminLFUrl = u.fromArray(['root', 'category', 'administrative-process-legal-framework']) %}
{% set adminLCUrl = u.fromArray(['root', 'category', 'administrative-process-legislative-changes']) %}
{% set adminCUrl = u.fromArray(['root', 'category', 'administrative-process-consultations']) %}
{% set adminDUrl = u.fromArray(['root', 'category', 'administrative-process-administrative-detention']) %}
{% set adminEUrl = u.fromArray(['root', 'category', 'evidence']) %}
<!-- Translates -->
{% set tAll = translate.t('menu.all') %}
{% set tLf = translate.t('menu.legal-framework') %}
{% set tLc = translate.t('menu.legislative-changes') %}
{% set tC = translate.t('menu.consultations') %}
<nav class="navbar navbar-expand-sm navbar-light bg-white">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand d-sm-none" href="#">Lawshield</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ latestUrl }}">{{ translate.t('menu.latest') }}</a>
                </li>
                <!-- Trafic -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ translate.t('menu.traffic') }}
                    </a>
                    <ul class="dropdown-menu background-nav-dropdown" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ trafficLegislativeUrl }}">{{ tLc }}<small class="color-secondary">
                                    hot</small></a></li>
                        <li><a class="dropdown-item" href="{{ trafficConsultationUrl }}">{{ tC }}</a></li>
                        <li><a class="dropdown-item" href="{{ trafficJudicalUrl }}">{{ translate.t('menu.judicial-practice') }}</a></li>
                        <li><a class="dropdown-item" href="{{ trafficLegalUrl }}">{{ tLf }}</a></li>                        
                        <li><a class="dropdown-item" href="{{ trafficMistakesUrl }}">{{ translate.t('menu.common-mistakes') }}</a></li>
                        <li><a class="dropdown-item" href="{{ trafficStopUrl }}">{{ translate.t('menu.traffic-vehicle-stop') }}</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ trafficUrl }}">{{ tAll }}</a></li>
                    </ul>
                </li>
                <!-- Administrative process -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ translate.t('menu.administrative-process') }}
                    </a>
                    <ul class="dropdown-menu background-nav-dropdown" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ adminLFUrl }}">{{ tLf }}</a></li>
                        <li><a class="dropdown-item" href="{{ adminLCUrl }}">{{ tLc }}</a></li>
                        <li><a class="dropdown-item" href="{{ adminCUrl }}">{{ tC }}<small class="color-secondary">
                                    hot</small></a></li>
                        <li><a class="dropdown-item" href="{{ adminDUrl }}">{{ translate.t('menu.administrative-detention') }}</a></li>                                    
                        <li><a class="dropdown-item" href="{{ adminEUrl }}">{{ translate.t('menu.evidence') }}</a></li>
                        <li><a class="dropdown-item" href="#">Imposed a fine</a></li>
                        <li><a class="dropdown-item" href="#">Appeal</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ adminUrl }}">{{ tAll }}</a></li>
                    </ul>
                </li>
                <!-- Military -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                       Military
                    </a>
                    <ul class="dropdown-menu background-nav-dropdown" aria-labelledby="navbarDropdown">
                       <li><a class="dropdown-item" href="#">Legislative changes</a></li>
                        <li><a class="dropdown-item" href="#">Consultations</a></li>
                        <li><a class="dropdown-item" href="#">Judicial practice</a></li>
                        <li><a class="dropdown-item" href="#">Real proceedings</a></li>
                        <li><a class="dropdown-item" href="#">Military registration document<small
                                    class="color-secondary"> hot</small></a></li>
                        <li><a class="dropdown-item" href="#">Reservation</a></li>
                        <li><a class="dropdown-item" href="#">Military deferment</a></li>
                        <li><a class="dropdown-item" href="#">Military medical commission</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Legal framework</a></li>
                    </ul>
                </li>
                <!-- Martial law -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Martial law
                    </a>
                    <ul class="dropdown-menu background-nav-dropdown" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">State</a></li>
                        <li><a class="dropdown-item" href="#">Citizen</a></li>
                        <li><a class="dropdown-item" href="#">Organizations</a></li>
                        <li><a class="dropdown-item" href="#">Military forces</a></li>
                        <li><a class="dropdown-item" href="#">Police</a></li>
                        <li><a class="dropdown-item" href="#">Security Service</a></li>
                        <li><a class="dropdown-item" href="#">Military volunteer<small class="color-secondary">
                                    hot</small></a></li>
                        <li><a class="dropdown-item" href="#">Internally displaced person</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Legal framework</a></li>
                    </ul>
                </li>
                <div class=" nav-link">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </ul>
        </div>
    </div>
</nav>