{# 
    Object      data                    Controller DTO
    string      template_full_prefix    path to this folder
#}

{% extends "base_layouts.twig" %}

{% block content %}
{% set page = data.page %}
<div class="container-sm">
    <div class="row mb-4">
        <div class="col">
            <h1 class="text-center">{{ page.getName() }}</h1>
            <p class="lead mt-5 p-3 bg-light border-start border-5">{{ page.getShortDescription() }}</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            {{ page.getDescription()|raw }}
        </div>
    </div>
    <form class="col-sm-6 api-exams-form mx-auto border p-2 border-secondary border-3 rounded" style="display: none">
        <p class="h2">{{ translate.t('page.exams.form.header') }}</p>
        <div class="mb-3">
            <label for="formInputFullName" class="form-label">{{ translate.t('Full name') }}:</label>
            <input type="text" class="form-control" id="formInputFullName" placeholder="{{ translate.t('form.placeholder.full name') }}" required>
        </div>   
        <div class="mb-3">
            <label for="formInputEmail" class="form-label">Email:</label>
            <input type="email" class="form-control" id="formInputEmail" placeholder="name@example.com" required>
        </div>
        <div class="mb-3">
            <label for="formInputPhone" class="form-label">{{ translate.t('Phone') }}:</label>
            <input type="text" class="form-control" id="formInputPhone" placeholder="+3800000000" required>
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Exams select">
              <option value="1">{{ translate.t('exams.administrative-process') }}</option>
              <option value="2">{{ translate.t('exams.administrative-law') }}</option>
              <option value="3">{{ translate.t('exams.military-law') }}</option>
              <option value="4">{{ translate.t('exams.proceedings') }}</option>
            </select>            
        </div>        
        <button type="submit" class="btn btn-secondary mb-3">{{ translate.t('Apply') }}</button>
    </form>
</div>
<script type="module" src="/media/js/frontend/controllers/exams/default/index.js" fetchpriority="low"></script>
{% endblock %}