{#
    Object          u                       Urlbuilder
    Object          data                    Romchik38\Site2\Infrastructure\Http\Actions\GET\Login\DefaultAction\ViewDTO
    string          template_full_prefix    path to this folder
#}

{% extends "base_layouts.twig" %}

{% block content %}
{% set urlRegister = u.fromArray(['root', 'register']) %}
{% set urlArticles = u.fromArray(['root', 'article']) %}
{% set urlAuth = u.fromArray(['root', 'auth']) %}
{% set urlLogout = u.fromArray(['root', 'logout']) %}
{% set urlRecovery = u.fromArray(['root', 'recovery']) %}
{% set urlAccount = u.fromArray(['root', 'account']) %}
{% set urlRoot = u.fromArray(['root']) %}
{% set page = data.page %}
<div class="container-sm">
    <h1 class="text-center">{{ page.getName() }}</h1>
    <p class="lead my-5 p-3 bg-light border-start border-5">{{ page.getShortDescription() }}</p>
    <div class="row justify-content-center my-4">
        {% if data.user is null %}
            <div class="col-md-6 col-lg-4">
                <h2 class="text-center">{{ t.t('page.login.provide-login-credentials') }}</h2>
                <form class="border bg-light rounded-3 p-4" action="{{ urlAuth }}" method="post">
                    <label for="{{ data.userNameField }}">{{ t.t('page.login.enter-username') }}: </label>
                    <input class="form-control" type="text" name="{{ data.emailField }}" id="{{ data.userNameField }}" required /><br>
                    <label for="{{ data.passwordField }}">{{ t.t('page.login.enter-password') }}: </label>
                    <input class="form-control" type="password" name="{{ data.passwordField }}" id="{{ data.passwordField }}" required /><br>
                    <input class="btn btn-secondary" type="submit" value="{{ t.t('header.sing_in') }}" />
                    <input type="hidden" name="{{ visitor.getCsrfTokenField() }}" value="{{ visitor.getCsrfToken() }}" />
                </form>
                <br>
                <p>{{ t.t('page.login.forgot-password') }}? <a href="{{ urlRecovery }}">{{ t.t('footer.links.recovery') }}</a>.</p>
                <p>{{ t.t('New user') }}? <a href="{{ urlRegister }}">{{ t.t('page.register.name') }}</a>.</p>
            </div>
        {% else %}
            <div class="col-sm-4">
                <ul class="list-group">{{ t.t('page.login.already-logged-in') }} 
                    <li class="list-group-item"><a href="{{ urlArticles }}">{{ t.t('category.last-news') }}</a></li>
                    <li class="list-group-item"><a href="{{ urlAccount }}">{{ t.t('footer.links.account') }}</a></li>
                    <li class="list-group-item"><a href="{{ urlRoot }}">{{ t.t('root.page_name') }}</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <p class="my-3">{{ t.t('logout.do-not-want') }}?</p>
                <form class="d-inline" action="{{ urlLogout }}" method="post">
                    <button class="btn btn-secondary align-top" type="submit">{{ t.t('logout') }}</button>
                </form>
            </div>            
        {% endif %}
    </div>
    <div class="row">
        {{ page.getDescription()|raw }}
    </div>
</div>
{% endblock %}