<!-- inside row -->
{% set m = data.metadataDto %}
{% set i = data.imageDto %}
{% set w = data.imageDto.width %}
{% set h = data.imageDto.height %}
<div class="col-md-6 m-auto text-center">
	{% if w >= h %}
	    <img class="img-fluid w-50" src="{{ data.imageFrontendPath }}">
	{% else %}
	    <img class="img-fluid h-50" src="{{ data.imageFrontendPath }}">
	{% endif %}
</div>
<div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Width</th>
          <th scope="col">Height</th>
          <th scope="col">Type</th>
          <th scope="col">Size</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ m.width }}</td>
          <td>{{ m.height }}</td>
          <td>{{ m.type }}</td>
          <td>{{ m.prettySize() }}</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <tbody>
        <tr>
          <th>Path</th>
          <td>{{ i.path }}</td>
        </tr>
        <tr>
          <th>Link</th>
          <td><a href="{{ data.imageFrontendPath }}" target="_blank">{{ data.imageFrontendPath }}</a></td>
        </tr>
      </tbody>
    </table>
<div>