{# 
    Object          data                        Romchik38\Site2\Infrastructure\Controllers\Actions\GET\Admin\Author\DynamicAction\ViewDto
    LanguageDto[]   availableLanguages          Romchik38\Site2\Application\Language\ListView\View\LanguageDto
#}

{% set availableLanguages = data.languages %}
{% set audio = data.audioDto %}
{% set translates = audio.translates %}
{% set audioPathPrefix = data.audioPathPrefix %}
<!-- Inside a form -->
<h2 class="text-center">Translates</h2>

<div class="col-12">
    <table class="table">
      <thead class="table-secondary">
        <tr>
          <th scope="col">Language</th>
          <th scope="col">Name</th>
          <th scope="col">Play</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for availableLanguage in availableLanguages  %}
            {% set availableLanguageVo = availableLanguage.identifier %}
            {% set break = false %}
            {% for translate in translates %}
                {% set translateLanguageVo = translate.language %}
                {% set descriptionVo = translate.description %}
                {% if translateLanguageVo.__toString() == availableLanguageVo.__toString() %}
                    <!-- translate exust -->
					{% 
						set editUrl = u.fromArray(
							['root', 'admin', 'audio', 'translate'], 
							{ 
								(data.translateAudioIdField): audio.id.__toString(),
								(data.translateLanguageField): translateLanguageVo,
							}
						) 
					%}
                    <tr class="table-success">
                        <td>{{ translateLanguageVo }}</td>
                        <td>{{ translate.description }}</td>
                        <td>
							<audio src="{{ audioPathPrefix ~ '/' ~ translate.path }}" controls crossorigin="anonymous">{{ translate.description }}</audio>
                        </td>
                        <td><a href="{{ editUrl }}">edit</a></td>
                    </tr>
                    {% set break = true %}
                {% endif %}
            {% endfor %}
            {% if not break %}
               <tr class="table-danger">
                   <td>{{ availableLanguageVo }}</td>
                   <td>-</td>
                   <td>-</td>
                   <td><a href="#">add</a></td>
               </tr>
           {% endif %}
        {% endfor %}
      </tbody>
    </table>
</div>