<!DOCTYPE html>

{# 
    Object      data                        controller DTO
    []          meta_data                   TwigView->metaData
    string      template_controller_name    controller name
    string      template_action_type        dynamic_action or action
    string      template_action_name        dynamic action route name
    Object      static_urlbuilder           StaticUrlbuilder class
    []          breadrumb                   BreadcrumbDTOInterface
#}

{% set language = meta_data['language'] %}
{% set languages = meta_data['languages'] %}
{% set urlbuilder = meta_data['urlbuilder'] %}
{% set u = urlbuilder %}
{% set translate = meta_data['translate'] %}
{% set t = translate %}
{% set su = static_urlbuilder %}
{% set imageFrontendPath = meta_data['image-frontend-path'] %}
{% set visitor = meta_data['visitor'] %}

<html lang="{{ language }}">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{{ data.getName() }} | {{ translate.t('header.logo') }}</title>
            <meta name="description" content="{{ data.getDescription() }}">
            <link rel="stylesheet" href="/media/css/bootstrap-5.3.3-dist/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="/media/css/admin_main.css" />
            <script src="/media/js/opt/fa.bootstrap.bundle.js" crossorigin="anonymous" async></script>
            <script>
                var currentLanguage ='{{ language }}';
            </script>
            <script type="module" src="/media/js/language.js"></script>
        {% endblock %}
    </head>

    <body class="container-fluid p-0">     
        <!-- Visitor data -->
        <div class="d-none visitor-data"
            data-username="{{ visitor.getUsername() }}"
            data-csrftoken="{{ visitor.getCsrfToken() }}"
            data-csrftokenfield="{{ visitor.getCsrfTokenField() }}"
        ></div>

        <header class="container-fluid bg-primary text-white">
            <div class="row">
                <div class="col-sm">
                    <span class="me-2">
                        <a class="link-none-white" href="{{ u.fromArray(['root']) }}" target="_blank">Frontend</a>
                    </span>
                    <span class="me-2">
                        <a class="link-none-white" href="{{ u.fromArray(['root', 'admin']) }}" target="_self">Admin</a>
                    </span>
                </div>

                <!-- Language switcher -->
                <div class="col-sm-3">
                    <select class="language">
                        {% for l in languages %}
                            {% set selected = '' %}
                            {% set disabled = '' %}
                            {% set value = '' %}
                            {% if l == language %}
                                {% set selected = 'selected="true"' %}
                                {% set disabled = 'disabled' %}
                            {% else %}
                                {% set value = su.withRoot(l) %}
                            {% endif %}
                            <option value="{{ value }}" {{disabled}} {{selected}}>{{translate.translate('global.language', l)}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- User login data -->
                <div class="col-sm-3">
                    <div>
                        <div class="header-user-loggedin">
                            <div class="row">
                                <div class="col-xl">
                                    <span>{{ t.t('Hello') }},&nbsp;</span><span class="user-name-field me-3">User_name</span>
                                </div>
                                <div class="col-xl">
                                    <form action="{{ u.fromArray(['root', 'admin', 'logout']) }}" method="post">
                                        <button class="btn btn-secondary py-0 align-top px-1" type="submit">Log out</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Display a message -->
        {% set message = visitor.getMessage() %}
        <div class="text-center mb-3" style="height: 9px">
            <span class="message bg-warning px-2 d-none">{{ message }}</span>
        </div>
        {% if message != null %}
            <script>
                (function name(params) {
                    var messageElements = document.getElementsByClassName('message');
                    if (messageElements.length === 0 ) {
                        console.error('Message elements not found on the page, pls check it by class name "message"');
                        return;
                    }
                    for (var elem of messageElements) {
                        elem.classList.remove("d-none");
                        elem.classList.add("d-inline-flex");
                        setTimeout(() => {
                            elem.classList.remove("d-inline-flex");
                            elem.classList.add("d-none");    
                        }, 4000);
                    }
                })()
            </script>
        {% endif %}

        <!-- Dynamic content start -->
        {% block content %}{% endblock %}
        <!-- Dynamic content end -->

        <!-- Footer -->
        <div class="container-fluid bg-light">
            <div class="row">
                <div class="col-sm text-center">
                    © 2025 Copyrights by Romanenko Serhii. Read the Site2 license on <a target="_blank" href="https://github.com/Romchik38/site2/blob/main/LICENSE.md">Github</a> before use it.
                </div>
            </div>
        </div>

        <!-- Before body close tag -->
        <script src="/media/js/popper.min.js"></script>
        <script src="/media/js/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
        <script type="module" src="/media/js/admin/userinfo.js"></script>
    </body>
</html>