<!DOCTYPE html>

{# 
    Object      data                        controller DTO
    []          meta_data                   TwigView->metaData
    string      template_controller_name    controller name
    string      template_action_type        dynamic_action or action
    string      template_action_name        dynamic action route name
    Object      static_urlbuilder           StaticUrlbuilder class
    []          breadrumb                   BreadcrumbDTOInterface
#}

{% set language = meta_data['language'] %}
{% set languages = meta_data['languages'] %}
{% set urlbuilder = meta_data['urlbuilder'] %}
{% set u = urlbuilder %}
{% set translate = meta_data['translate'] %}
{% set t = translate %}
{% set su = static_urlbuilder %}
{% set imageFrontendPath = meta_data['image-frontend-path'] %}
{% set visitor = meta_data['visitor'] %}

<html lang="{{ language }}">

    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{{ data.getName() }} | {{ translate.t('header.logo') }}</title>
            <meta name="description" content="{{ data.getDescription() }}">
            <link rel="stylesheet" href="/media/css/bootstrap-5.3.3-dist/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="/media/css/main.css" />
            <script>
                var currentLanguage ='{{ language }}';
            </script>
        {% endblock %}
    </head>


    <body>
        
        {% include 'frontend_layout/layouts/after-body-starts.twig' %}

        <!-- Header -->
        <div id="header" class="container-fluid p-0">
            {% include 'frontend_layout/layouts/header/infoline.twig' %}
            {% include 'frontend_layout/layouts/header/logo.twig' %}
            {% include 'frontend_layout/layouts/header/nav.twig' %}
            {% include 'frontend_layout/layouts/header/breadcrumbs.twig' %}
        </div>  

        <!-- Display a message -->
        {% include 'frontend_layout/layouts/message.twig' with {'message': visitor.getMessage()} only %}

        <!-- Dynamic content start -->
        {% block content %}{% endblock %} 
        <!-- Dynamic content end -->

        <!-- Footer -->
        <div id="footer" class="container-fluid mt-3 p-0">
            <div class="container-fluid">
                {% include 'frontend_layout/layouts/footer/infoline.twig' %}
                {% include 'frontend_layout/layouts/footer/links.twig' %}
                {% include 'frontend_layout/layouts/footer/social-links.twig' %}
                {% include 'frontend_layout/layouts/footer/policy.twig' %}
                {% include 'frontend_layout/layouts/footer/copyrights.twig' %}
            </div>
        </div>
        
        <!-- Before body close tag -->
        <script type="module" src="/media/js/language.js" fetchpriority="low"></script>
        <script src="/media/js/popper.min.js" defer fetchpriority="low"></script>
        <script src="/media/js/bootstrap-5.3.3-dist/js/bootstrap.min.js" defer fetchpriority="low"></script>
        <script type="module" src="/media/js/frontend/userinfo/index.js" fetchpriority="low"></script>
    </body>
</html>