{# 
    Object          data                        Romchik38\Site2\Infrastructure\Http\Actions\GET\Admin\Author\DynamicAction\ViewDto
    LanguageDto[]   availableLanguages          Romchik38\Site2\Application\Language\List\View\LanguageDto
#}

{% set availableLanguages = data.languages %}
{% set audio = data.audioDto %}
{% set translates = audio.translates %}
{% set audioPathPrefix = data.audioPathPrefix %}
<!-- Inside a form -->
<h2 class="text-center">Translates</h2>

<div class="col-12">
    <table class="table">
      <thead class="table-secondary">
        <tr>
          <th scope="col">Language</th>
          <th scope="col">Name</th>
          <th scope="col">Play</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for availableLanguage in availableLanguages  %}
            {% set availableLanguageVo = availableLanguage.identifier %}
            {% set break = false %}
            {% for translate in translates %}
                {% set translateLanguageVo = translate.language %}
                {% set descriptionVo = translate.description %}
                {% if translateLanguageVo.__toString() == availableLanguageVo.__toString() %}
                    <!-- translate exust -->
                    {% set audioId = audio.id %}
                    {% set languageId = translateLanguageVo %}
					{% 
						set editUrl = u.fromArray(
							['root', 'admin', 'audio', 'translate'], 
							{ 
								(data.translateAudioIdField): audioId,
								(data.translateLanguageField): translateLanguageVo,
							}
						) 
					%}
                    <tr class="table-success">
                        <td>{{ translateLanguageVo }}</td>
                        <td>{{ translate.description }}</td>
                        <td>
							<audio src="{{ audioPathPrefix ~ '/' ~ translate.path }}" controls crossorigin="anonymous">{{ translate.description }}</audio>
                        </td>
                        <td><a href="{{ editUrl }}">edit</a></td>


                        <!-- <td>
                            <form action="{{ deleteUrl }}" method="post">
                                <input type="text" class="form-control" name="{{ data.deleteTranslateIdFiled }}" value="{{ audioId }}" hidden>
                                <input type="text" class="form-control" name="{{ data.deleteTranslateLanguageFiled }}" value="{{ languageId }}" hidden>
                                <input type="hidden" name="{{ data.csrfTokenField }}" value="{{ data.csrfToken }}" />
                                <button type="submit" class="btn btn-secondary my-2 btn-sm py-0">delete</button>
                            </form>
                        </td> -->

                    </tr>
                    {% set break = true %}
                {% endif %}
            {% endfor %}
            {% if not break %}
                {% 
					set addUrl = u.fromArray(
						['root', 'admin', 'audio', 'translate', 'new'], 
						{ 
							(data.translateAudioIdField): audio.id.__toString(),
							(data.translateLanguageField): availableLanguageVo,
						}
					) 
				%}
                <tr class="table-danger">
                    <td>{{ availableLanguageVo }}</td>
                    <td>-</td>
                    <td>-</td>
                    <td><a href="{{ addUrl }}">add</a></td>
                </tr>
           {% endif %}
        {% endfor %}
      </tbody>
    </table>
</div>