{#
    Object      u                           urlbuilder              {{ u.fromArray(['root', 'product']) }}
    string      controller_template_dir     path to this folder
    Object      data                        Romchik38\Site2\Infrastructure\Controllers\Actions\GET\Admin\Category\DynamicAction\ViewDto
    Object      category                    Romchik38\Site2\Application\Category\AdminView\View\CategoryDto
#}

{% set category = data.categoryDto %}
{% set updateUrl = u.fromArray(['root', 'admin', 'category', 'update']) %}
{% set articles = category.articles %}

<div class="container-md my-3">
    <div class="row">
        <h1 class="text-center">{{ data.name }}</h1>
        <p>{{ data.description }}</p>
        <!-- Form -->
        <form action="{{ updateUrl }}" method="post" id="category-update-form">
            <div class="form-group mb-2 p-2">
                <div class="mb">
                    <label class="form-label" for="{{ data.idFiled }}">Id: {{ category.getId() }}</label>
                    <input type="text" class="form-control" name="{{ data.idFiled }}" value="{{ category.getId() }}" hidden>
                </div>
            </div>
            <input type="hidden" name="{{ data.csrfTokenField }}" value="{{ data.csrfToken }}" />
            <!-- Translates -->
            {% include controller_template_dir ~ '/blocks/translates.twig' with {'t': t, 'u': u, 'data': data } only %}
            <div class="d-flex ">
                <div class="me-auto">
                    <button type="submit" class="btn btn-primary my-2">Update</button>
                </div>
                <div>
                    <button type="button" class="btn btn-danger my-2" id="delete-button">Delete</button>
                </div>
            </div>
        </form>
        <form action="{{ u.fromArray(['root', 'admin', 'category', 'delete']) }}" method="post" id="delete-form">
            <input type="text" class="form-control" name="{{ data.idFiled }}" value="{{ category.getId() }}" hidden>
            <input type="hidden" name="{{ data.csrfTokenField }}" value="{{ data.csrfToken }}" />
        </form>
        <script>
            deleteButton = document.getElementById('delete-button');
            deleteForm = document.getElementById('delete-form');
            if(deleteButton !== null && deleteForm !== null) {
                deleteButton.addEventListener("click", function (e) {
                    deleteForm.submit();
                });
            } else {
                console.error('Delete button or form not found'); 
            }
        </script>
        <!-- Back link -->
        <div class="my-3">⬅️ Back to <a href="{{ u.fromArray(['root', 'admin', 'category']) }}">Category list</a> page</div>

        ArticleS !!!
    </div>
</div>

