{# 
    Object      data                    Romchik38\Site2\Application\Article\View\View\ArticleViewDTO        
    string      template_full_prefix    path to this folder
#}

{% extends "base_layouts.twig" %}

{% block head %}
    {{ parent() }}
    <style>
        .infoline {
            font-size: 0.8rem;
        }
        
        .content {
            color: #333333;
        }
    </style>
{% endblock %}

{% block content %}
{% set articleUrl = u.fromArray(['root', 'article']) %}
<div id="content" class="container-fluid mt-2">
    <!-- Header start -->
    <div class="container-xxl">
        <div class="row my-3">
            <div class="col-sm-6 d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <h1>{{ data.getName() }}</h1>
                    <p class="lead">{{ data.article.shortDescription }}</p>
                </div>
            </div>
            <div class="col-sm-6">
                <picture>
                    <source media="(max-width: 576px)" srcset="/img.php?id={{ data.article.image.imgId }}&type=webp&width=576&height=576">
                    <source media="(max-width: 768px)" srcset="/img.php?id={{ data.article.image.imgId }}&type=webp&width=768&height=768">
                    <source media="(min-width: 768px)" srcset="/img.php?id={{ data.article.image.imgId }}&type=webp&width=1080&height=1080">
                    <img 
                        class="card-img-top"
                        src="{{ data.article.image.path }}" 
                        alt="{{ data.article.image.description }}"
                    >
                </picture>
            </div>
        </div>
    </div>
    <!-- Header end -->

             <!-- Main start -->
        <div class="container-xxl">
            <div class="row">
                <div class="col-lg-6 m-auto">

                    <!-- Infoline start -->
                    <div class="row mt-2 my-3">
                        <div class="text-secondary infoline">
                            <div class="p-0 d-flex">
                                {% set author = data.article.author %}
                                <div class="me-3">{{ translate.t('article.view.by') }} {{ author.description }}</div>
                                <div class="me-3">{{ translate.t('article.view.photo-by') }} {{ data.article.image.author }}</div>
                            </div>
                            <!-- @todo replace with new date formatter -->
                            <p>{{ data.formatArticleDate(data.article.createdAt) }}</p>

                            {% set categories = data.article.categories %}
                            {% if categories|length > 0 %}
                                <ul class="list-inline">{{ translate.t('article.category') }}:
                                {% for category in categories %}
                                    {% set categoryUrl = u.fromArray(['root', 'category', category.getId|url_encode]) %}
                                    <li class="list-inline-item"><a class="link-none" href="{{ categoryUrl }}"><span class="text-decoration-underline">{{ category.getName() }}</span></a></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            
                        </div>
                    </div>
                    <!-- Infoline end -->

                    <!-- Audio start -->
                    <div class="row">
                        <div>
                            <audio 
                                src="{{ data.article.audio.path }}" 
                                controls
                                crossorigin="anonymous">{{ data.article.audio.description }}
                            </audio>
                        </div>
                    </div>
                    <!-- Audio end -->

                    <!-- Content body start -->
                    <div class="row my-3 content">
                        <div>{{ data.article.description|raw }}</div>
                        <div class="col-sm-3"></div>
                    </div>
                    <!-- Content body end -->

                    <!-- Similar articles start --> 
                    {% include template_full_prefix ~ '/blocks/similar.twig' with {'translate': translate, 'u': u, 'data': data, 'articleUrl': articleUrl} only %}
                    <!-- Similar articles end -->

                    <!-- Continue reading start -->
                    <div class="row my-3">
                        <div class="col">
                            <h2 class="text-center mb-3 background-line">{{ translate.t('article.view.continue.reading') }}</h2>
                            <div class="row">
                                <div class="col col-sm-4">
                                    <a class="btn" href="#">
                                        <img class="img-fluid rounded-start"
                                            src="/img.php?id=4&type=webp&width=576&height=384"
                                            alt="Article name stub">
                                    </a>
                                </div>
                                <div class="col-sm-8">
                                    <h5 class="card-title"><a href="#" class="link-none">Evidence in an Administrative Offense Case</a></h5>
                                    <p class="card-text"><a href="#" class="link-none">Correct Interpretation and Application of Article 251 "Evidence" of the Code of Administrative Offenses. Modern Judicial Practice.</a></p>
                                    <div><a href="#">{{ translate.t('article.read') }}</a></div>
                                </div>
                                <footer class="col-12 text-secondary">
                                    <div class="row">
                                        <div class="col-12 font-monospace comments">+10 new comments(21)</div>
                                        <div class="col-12 font-monospace comments">6 hours ago</div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                    <!-- Continue reading end -->

                </div>
            </div>
        </div>
        <!-- Main start -->
</div>
<!-- Views Block -->
{% include template_full_prefix ~ '/blocks/views.twig' with {'data': data} only %}
<!-- Continue Reading Block -->
{% include template_full_prefix ~ '/blocks/continue_reading.twig' with {'data': data} only %}
{% endblock %}