{% set urlRoot = urlbuilder.fromArray(['root']) %}
{% set urlLogout = urlbuilder.fromArray(['root', 'logout']) %}
{% set urlLogin = urlbuilder.fromArray(['root', 'login']) %}

<div class="container-xxl">
    <div class="row py-2">
        <div class="col-md-3">
            <div class="d-none d-sm-block">
                <p class="h1 mt-2 text-center text-md-start">
                    {{translate.t('header.logo')}}
                </p>
            </div>
        </div>
        <div class="col-sm text-center">
           <a href="{{ urlRoot }}" target="_self">
                <img src="/media/logo.png" class="img" height="100px" alt="Logo">
            </a>
        </div>
        <div class="col-md-3 mx-auto">

            <div class="row mt-2 header-user-notloggedin">
                <div class="col-xl-6 col-sm mb-2 mb-sm-0 mb-md-2 mb-lg-0 d-grid gap-2">
                    <button class="btn background-primary ">
                        {{translate.t('header.subscribe')}}
                    </button>
                </div>
                <div class="col-xl-6 col-sm d-grid gap-2">
                    <a class="link-none" href="{{ urlLogin }}">
                        <button class="btn border w-100">
                            {{translate.t('header.sing_in')}}
                        </button>
                    </a>
                </div>
            </div>


            <div class="row mt-2 header-user-loggedin">
                <div class="col-xl-6 col-sm mb-2 mb-sm-0 mb-md-2 mb-lg-0 d-grid gap-2">
                    <span class="user-name-field">Hello,user</span>
                </div>
                <div class="col-xl-6 col-sm d-grid gap-2">
                    <form action="{{ urlLogout }}" method="post">
                        <button class="btn btn-secondary py-0 align-top px-1" type="submit">Log out</button>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>