{# 
    Object          data                        Romchik38\Site2\Infrastructure\Http\Actions\GET\Admin\Author\DynamicAction\ViewDto
    LanguageDto[]   availableLanguages          Romchik38\Site2\Application\Language\List\View\LanguageDto
#}

{% set availableLanguages = data.languages %}
{% set audio = data.audioDto %}
{% set translates = audio.translates %}
{% set audioPathPrefix = data.audioPathPrefix %}
<!-- Inside a form -->
<h2 class="text-center">Translates</h2>

<div class="col-12">
    <table class="table">
      <thead class="table-secondary">
        <tr>
          <th scope="col">Language</th>
          <th scope="col">Name</th>
          <th scope="col">Play</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for availableLanguage in availableLanguages  %}
            {% set availableLanguageId = availableLanguage.getId() %}
            {% set break = false %}
            {% for translate in translates %}
                {% set translateLanguageId = translate.getlanguage() %}
                {% set description = translate.getDescription() %}
                {% if translateLanguageId == availableLanguageId %}
                    <!-- translate exust -->
                    {% set audioId = audio.getId() %}
                    {% set languageId = translateLanguageId %}
					{% 
						set editUrl = u.fromArray(
							['root', 'admin', 'audio', 'translate'], 
							{ 
								(data.translateAudioIdField): audioId,
								(data.translateLanguageField): translateLanguageId,
							}
						) 
					%}
                    <tr class="table-success">
                        <td>{{ translateLanguageId }}</td>
                        <td>{{ description }}</td>
                        <td>
							<audio src="{{ audioPathPrefix ~ '/' ~ translate.path }}" controls crossorigin="anonymous">{{ description }}</audio>
                        </td>
                        <td><a href="{{ editUrl }}">edit</a></td>
                    </tr>
                    {% set break = true %}
                {% endif %}
            {% endfor %}
            {% if not break %}
                {% 
					set addUrl = u.fromArray(
						['root', 'admin', 'audio', 'translate', 'new'], 
						{ 
							(data.translateAudioIdField): audio.getId(),
							(data.translateLanguageField): availableLanguageId,
						}
					) 
				%}
                <tr class="table-danger">
                    <td>{{ availableLanguageId }}</td>
                    <td>-</td>
                    <td>-</td>
                    <td><a href="{{ addUrl }}">add</a></td>
                </tr>
           {% endif %}
        {% endfor %}
      </tbody>
    </table>
</div>